// out: ../public/css/style.css, compress: true

@orange_color: #e5800c;
@blue_color: #1b4494;
@background_color: #fff;

html{
    width: 100%;
    height: 100%;
    background-color: @background_color;
}

body{
    width: 100% - 2%;
    height: 100%;
    margin: 1%;
    font-family: Sitka Small;
}

.getOrange{
    background-color: @orange_color;
}

.getWhite{
    background-color: white;
    color: black;
}

#loginform{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    form{
        input[type=text], input[type=password]{
            padding: 30px;
        }
        input[type=submit]{
            border: 0;
            padding: 30px;
            background-color: @blue_color;
            color: white;
            cursor: pointer;
        }
    }
}

#all{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    #banner{
        width: 50%;
        padding: 10%;
        @media all and (min-width: 642px) and (max-width: 1025px){
            margin-top: 25%;
        }
        @media all and (max-width: 641px){
            border: 1px solid green;
        }
        img{
            @media all and (min-width: 642px) and (max-width: 1025px){
                width: 100%;
            }
            @media all and (max-width: 641px){
                border: 1px solid green;
            }
        }
    }
    a{
        border: 0;
        padding: 20px;
        background-color: @orange_color;
        color: white;
        text-decoration: none;
    }
}

#info{
    display: flex;
    #user{
        width: 50%;
        ul{
            list-style-type: none;
            padding: 0;
            float: right;
            li{
                margin-bottom: 15%;
                p{
                    display: inline;
                }
                a{
                    text-decoration: none;
                    background-color: @orange_color;
                    color: white;
                    padding: 10px;
                }
                label{
                    display: block;
                }
                button{
                    border: 0;
                    background-color: @blue_color;
                    color: white;
                    padding: 10px;
                    margin-top: 10px;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    #users{
        width: 50%;
        ul{
            padding: 0;
            list-style-type: none;
            li{
                text-transform: uppercase;
                margin: 1% 0;
            }
        }
        p{
            text-decoration: underline;
        }
    }
}

#chooseGame{
    width: 100% - 2%;
    padding: 1%;
    border-radius: 2px;
    #leftPart{
        label{
            display: inline;
            margin-right: 10px;
        }
        form{
            display: inline;
            input[type=text]{
                padding: 5px;
            }
            input[type=submit]{
                background-color: @orange_color;
                border: 0;
                padding: 6px;
                color: white;
                margin-left: -5px;
                cursor: pointer;
            }
        }
    }
    #rightPart{
        ul{
            list-style-type: none;
            padding: 0;
            li{
                display: inline-block;
                margin-right: 1%;
                padding: 2%;
                border: 1px solid @blue_color;
                cursor: pointer;
                color: @blue_color;
            }
        }
        label{
            color: @blue_color;
        }
    }
}

#collectingplayers{
    p{
        text-align: center;
        text-transform: uppercase;
    }
}

#game {
    #numbers{
        margin: auto;
        width: 35%;
        display: flex;
        margin-bottom: 3%;
        div{
            padding: 10px;
            border: 1px solid black;
            border-left: 0;
            color: black;
            width: 100%/6;
            text-align: center;
            cursor: default;
            &:first-child{
                border-left: 1px solid black;
            }
        }
    }
    #auction{
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        ul{
            width: 60%;
            margin: 0;
            padding: 0;
            display: flex;
            float: left;
            justify-content: flex-end;
            div{
                text-align: center;
                &:first-child{
                    border: 0;
                }
                p{
                    margin: 2%;
                }
                p.field{
                    text-transform: uppercase;
                    background-color: @orange_color;
                    color: white;
                }
            }
        }
        form{
            clear: both;
            width: 42%;
            display: block;
            margin: auto;
            label{
                text-align: center;
                padding-top: 10px;
            }
            input[type=text]{
                padding: 5px;
                display: block;
            }
            
            input[type=submit], button{
                padding: 10px;
                border: 0;
                background-color: @blue_color;
                color: white;
                margin: 20px 2px;
                cursor: pointer;
            }
        }
        #pool{
            width: 10%;
            float: left;
            background-color: @blue_color;
            color: white;
            padding: 3% 0;
            margin-left: 2%;
            text-align: center;
        }
    }
    #cqa{
        width: 60%;
        margin: auto;
        margin-bottom: 2%;
        #categories{
            width: 40%;
            float: left;
            span{
                text-transform: uppercase;
                color: @orange_color;
            }
        }
        #question{
            width: 60%;
            float: left;
            p{
                span{
                    text-transform: uppercase;
                    color: @blue_color;
                }
            }
        }
        #answer{
            clear: left;
            width: 50%;
            margin: auto;
            input[type=text]{
                padding: 10px;
            }
            input[type=submit]{
                border: 0;
                background-color: @orange_color;
                color: white;
                padding: 10px;
                cursor: pointer;
            }
        }
        #answerinfo{
            clear: both;
            color: @orange_color;
        }
    }
}

#winner{
    margin: 2% 0;
    width: 60%;
    margin: auto;
    p{
        color: @orange_color;
    }
    button{
        border: 0;
        background-color: @blue_color;
        color: white;
        padding: 10px;
        cursor: pointer;
    }
}