<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awantura o kasę</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if (isAuthenticated) { %>
        <div id="info">
            <div id="users">
               <ul></ul>
            </div>
            <div id="user">
                <ul>
                    <li>
                        <p>
                            <span><%= user.username %></span>
                        </p>
                        <a href="/logout">Wyloguj się</a>
                    </li>
                    <li id="gameli">
                        <label>Gra: <span></span></label>
                        <button>Zakończ grę</button>
                    </li>
                </ul>
            </div>
        </div>

        <div id="chooseGame">
            <div id="leftPart">
               <label>Żeby zagrać musisz stworzyć nową grę</label>
                <form>
                    <input type="text">
                    <input type="submit" value="OK">
                </form>
                <p></p>
            </div>
            <div id="rightPart">
                <p>
                Lub wybrać już istniejącą grę
                </p>
                <ul>
                </ul>
                <label></label>
            </div>
            <p id="left">Właśnie opuściłeś grę: <span></span>. Stwórz nową</p>
        </div>
        
        <div id="collectingplayers">
            <p id="waiting"></p>
            <p id="nomore"></p>
        </div>
        
        <div id="game">
            <div id="numbers">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
            </div>
            
            <div id="auction">
                <ul></ul>
                <div id="pool">
                   <p>Pool: <span></span> </p>
                </div>
                <form>
                    <label>wpisz swoja kwote:</label>
                    <input type="text">
                    <input type="submit" value="Licytuj">
                    <button id="stop">Skończ licytacje</button>
                    <button id="vabank">Vabank</button>
                </form>
            </div>
            
            <div id="cqa">
                <div id="categories">
                    <p>Kategoria to: <span></span> </p>
                </div>

                <div id="question">
                    <p>Pytanie brzmi(Odpowiedzi wpisuj zawsze z wielkiej litery!): <span></span></p>
                </div>
                <div id="answer">
                    <input type="text" placeholder="Twoja odpowiedź">
                    <input type="submit" value="OK">
                </div>
                <div id="answerinfo">
                    <p></p>
                </div>
            </div>
            
        </div>
        <div id="winner">
            <p></p>
            <button>Opuść grę</button>
        </div>
        
    <% } else { %>
       <div id="all">
        <div id="banner">
            <img id="bannerimg" src="/img/banner.png">
        </div>
        <a href="/login">Zaloguj się</a>
       </div>
        
    <% } %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/skrypt.js"></script>
    
    <!--<script type="text/javascript">
        window.onbeforeunload = function() {
            return "Po odświeżeniu wszystki dane gry zostaną utracone. Jesteś pewien?";
        }
    </script> -->
    
</body>
</html>