<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
        <div id="loginform">
            <form action="" method="post">
                <input type="text" name="username" id="username" placeholder="Nazwa użytkownika">
                <input type="password" name="password" id="password" placeholder="Hasło">
                <input type="submit" value="OK">
            </form>
        </div>
        
</body>
</html>